<div class="main">
  <div class="bg"></div>
  <div class="parallax_container">
      <app-topnav></app-topnav>
      <app-sidenav></app-sidenav>
      <div class="content">
          <div class="container">
              <div class="row">
                  <table class="table table-striped">
                      <thead>   
                          <tr class="table-warning text-center">
                          <th scope="col" colspan="6"><h4><span style="font-weight: bold;">STUDENTS</span></h4></th>
                          </tr>              
                        <tr>
                          <th scope="col">NAME</th>
                          <th scope="col">GENDER</th>
                          <th scope="col">AGE</th>
                          <th scope="col">YEAR</th>
                          <th scope="col">BLOCK</th>
                          <th scope="col" class="text-center">ACTION</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1. John Doe</th>
                          <td>M</td>
                          <td>21</td>
                          <td>2</td>
                          <td>1</td>
                          <td class="text-center">
                            <a href="students" class="btn btn-success">ADD</a>
                            <a href="students" class="btn btn-success">EDIT</a>
                            <a href="students" class="btn btn-success">DELETE</a>
                            <a href="students" class="btn btn-success">NEW</a>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2. Jose Rizal</th>
                          <td>M</td>
                          <td>20</td>
                          <td>4</td>
                          <td>1</td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">3. Andres Bonifacio</th>
                          <td>M</td>
                          <td>23</td>
                          <td>4</td>
                          <td>2</td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">4. Nene Dela Cruz</th>
                          <td>F</td>
                          <td>20</td>
                          <td>2</td>
                          <td>1</td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">5. Juan Dela Cruz</th>
                          <td>M</td>
                          <td>20</td>
                          <td>2</td>
                          <td>2</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
      </div>
  </div>  
</div>
<router-outlet></router-outlet>