<div class="main">
    <div class="bg"></div>
    <div class="parallax_container">
        <app-topnav></app-topnav>
        <app-sidenav></app-sidenav>
        <div class="content">
            <div class="container">
                <div class="row">
                    <table class="table table-striped">
                        <thead>   
                            <tr class="table-warning text-center">
                            <th scope="col" colspan="4"><h4><span style="font-weight: bold;">Faculty</span></h4></th>
                            </tr>              
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Subject</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Liam Smith</td>
                            <td>ITCC1</td>
                          </tr>
                          <tr>
                            <td>Amelia Smith</td>
                            <td>ITPC2</td>
                          </tr>
                          <tr>
                            <td>Elijah Smith</td>
                            <td>ITCC2</td>
                          </tr>
                          <tr>
                            <td>Patricia Smith</td>
                            <td>ITPC3</td>
                          </tr>
                          <tr>
                            <td>Alan Smith</td>
                            <td>ITPC1</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>  
</div>
<router-outlet></router-outlet>