<div class="content">
    <div class="container">
        <div class="row justify-content-center custom-no-gutters ">
            
            
            <div class="col-5">
                <div class="reg_box">
                    <h3>REGISTER</h3>
                    <p>Create an account</p>
                    <form class="home_form">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Name">
                            <label name="uname" class="form-label">NAME</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Name">
                            <label name="uname" class="form-label">USERNAME</label>
                        </div>
                        <div class="form-floating">
                            <input type="email" class="form-control" placeholder="Email">
                            <label class="form-label">EMAIL ADDRESS</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder="Password">
                            <label class="form-label">PASSWORD</label>
                        </div>
                        <button class="btn btn-dark custom-btn" routerLink="/login">REGISTER</button>
                        <button class="btn btn-dark custom-btn" routerLink="/login">RETURN</button>
                    </form>
                </div>
            </div>          
        </div>
    </div>
</div>
<router-outlet></router-outlet>