.card {
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 40px;
    width: 100%;
    align-content: center;
    align-items: center;
}

img {
    max-height: 370px;
}